In [14]:
#파일 다루기
f=0 
try:
    f=open("LICENSE.txt","rt") #읽기,텍스트 모드로 파일 열기
    while True:
        r=f.readline() #연 파일을 한줄씩 읽기
        if not r:#만약 더 이상 읽을 줄이 없다면
            break #반복문 끝내기
        print(r)      
except FileNotFoundError: #FileNotFoundError에 대해서만 except 구문을 실행 
    print("파일없음")
finally:
    if(f): f.close() #만약 파일을 닫는다면
    print("프로그램 끝")

파일없음
프로그램 끝

In [18]:
#파일 쓰기
import random as r
f=0
f=open("score.txt","wt") #파일 쓰기모드 및 텍스트모드로
for i in range(100):#100까지 
    one_person="홍길동"+str(i)+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+"\n" 
    #홍길동(번호)+랜덤 점수 + 랜덤점수 + 렌담점수 출력
    f.write(one_person) #한 줄씩 쓴다 
    print(one_person)
f.close()#파일 닫기

홍길동0,39,34,57

홍길동1,35,30,18

홍길동2,70,78,17

홍길동3,12,35,88

홍길동4,43,52,95

홍길동5,29,62,75

홍길동6,93,59,13

홍길동7,23,38,78

홍길동8,30,19,34

홍길동9,7,36,36

홍길동10,61,60,22

홍길동11,90,86,71

홍길동12,51,27,0

홍길동13,13,87,63

홍길동14,12,58,41

홍길동15,10,50,91

홍길동16,4,30,37

홍길동17,98,39,53

홍길동18,12,12,16

홍길동19,68,33,36

홍길동20,79,20,45

홍길동21,80,68,56

홍길동22,7,75,96

홍길동23,44,90,22

홍길동24,72,95,9

홍길동25,97,15,71

홍길동26,30,54,60

홍길동27,89,30,24

홍길동28,85,9,50

홍길동29,76,58,57

홍길동30,34,33,43

홍길동31,78,62,12

홍길동32,18,52,26

홍길동33,41,73,83

홍길동34,47,62,10

홍길동35,11,27,62

홍길동36,81,54,49

홍길동37,19,40,96

홍길동38,93,73,9

홍길동39,13,22,66

홍길동40,1,10,80

홍길동41,16,91,32

홍길동42,24,6,53

홍길동43,71,50,27

홍길동44,58,40,95

홍길동45,7,65,64

홍길동46,0,20,5

홍길동47,14,26,77

홍길동48,91,20,39

홍길동49,82,98,75

홍길동50,95,92,47

홍길동51,97,18,99

홍길동52,33,80,10

홍길동53,61,37,39

홍길동54,44,11,98

홍길동55,75,55,57

홍길동56,13,72,38

홍길동57,78,57,35

홍길동58,41,13,10

홍길동59,31,69,78

홍길동60,10,93,60

홍길동61,21,74,8

홍길동62,91,98,18

홍길동63,86,46,11

홍길동64,7,45,45

홍길동65,89,91,16

홍길동66,9,18,88

홍길동67,94,0,88

홍길동68,87,30,41

홍길동69,91,68,49

홍길동70,16,21,22

홍길동71,28,84,6

홍길동72,25,87,19

홍길동73,34,50,93

홍길동74,16,99,43

홍길동75,67,27,73

홍길동76,22,1,66

홍길동77,17,87,47

홍길동78,6,13,99

홍길동79,22,63,21

홍길동80,68,31,65

홍길동81,62,36,81

홍길동82,90,98,83

홍길동83,82,8,69

홍길동84,17,77,35

홍길동85,57,17,31

홍길동86,35,63,41

홍길동87,73,49,99

홍길동88,4,67,48

홍길동89,63,69,56

홍길동90,75,47,76

홍길동91,92,1,12

홍길동92,13,35,63

홍길동93,33,24,82

홍길동94,83,64,79

홍길동95,6,79,31

홍길동96,74,46,9

홍길동97,63,63,39

홍길동98,63,63,60

홍길동99,36,83,8

In [19]:
#파일 읽기
f=0
f=open("score.txt","rt") 
while True:
    one_person=f.readline() #한 줄씩 읽는다
    if not one_person: break #읽을 내용이 없으면 루프탈출
    one_person=one_person.replace("\n","") #줄 바꿈문자 없애기 
    item=one_person.split(",") #콤마 구분자로 짜르기
    print("="*10)
    print("이름: ", item[0])
    print("국어: ", item[1])
    print("영어: ", item[2])
    print("수학: ", item[3])
    print("="*10) 
f.close()

==========
이름:  홍길동0
국어:  39
영어:  34
수학:  57
==========
==========
이름:  홍길동1
국어:  35
영어:  30
수학:  18
==========
==========
이름:  홍길동2
국어:  70
영어:  78
수학:  17
==========
==========
이름:  홍길동3
국어:  12
영어:  35
수학:  88
==========
==========
이름:  홍길동4
국어:  43
영어:  52
수학:  95
==========
==========
이름:  홍길동5
국어:  29
영어:  62
수학:  75
==========
==========
이름:  홍길동6
국어:  93
영어:  59
수학:  13
==========
==========
이름:  홍길동7
국어:  23
영어:  38
수학:  78
==========
==========
이름:  홍길동8
국어:  30
영어:  19
수학:  34
==========
==========
이름:  홍길동9
국어:  7
영어:  36
수학:  36
==========
==========
이름:  홍길동10
국어:  61
영어:  60
수학:  22
==========
==========
이름:  홍길동11
국어:  90
영어:  86
수학:  71
==========
==========
이름:  홍길동12
국어:  51
영어:  27
수학:  0
==========
==========
이름:  홍길동13
국어:  13
영어:  87
수학:  63
==========
==========
이름:  홍길동14
국어:  12
영어:  58
수학:  41
==========
==========
이름:  홍길동15
국어:  10
영어:  50
수학:  91
==========
==========
이름:  홍길동16
국어:  4
영어:  30
수학:  37
==========
==========
이름:  홍길동17
국어:  98
영어:  39
수학:  53
==========
==========
이름:  홍길동18
국어:  12
영어:  12
수학:  16
==========
==========
이름:  홍길동19
국어:  68
영어:  33
수학:  36
==========
==========
이름:  홍길동20
국어:  79
영어:  20
수학:  45
==========
==========
이름:  홍길동21
국어:  80
영어:  68
수학:  56
==========
==========
이름:  홍길동22
국어:  7
영어:  75
수학:  96
==========
==========
이름:  홍길동23
국어:  44
영어:  90
수학:  22
==========
==========
이름:  홍길동24
국어:  72
영어:  95
수학:  9
==========
==========
이름:  홍길동25
국어:  97
영어:  15
수학:  71
==========
==========
이름:  홍길동26
국어:  30
영어:  54
수학:  60
==========
==========
이름:  홍길동27
국어:  89
영어:  30
수학:  24
==========
==========
이름:  홍길동28
국어:  85
영어:  9
수학:  50
==========
==========
이름:  홍길동29
국어:  76
영어:  58
수학:  57
==========
==========
이름:  홍길동30
국어:  34
영어:  33
수학:  43
==========
==========
이름:  홍길동31
국어:  78
영어:  62
수학:  12
==========
==========
이름:  홍길동32
국어:  18
영어:  52
수학:  26
==========
==========
이름:  홍길동33
국어:  41
영어:  73
수학:  83
==========
==========
이름:  홍길동34
국어:  47
영어:  62
수학:  10
==========
==========
이름:  홍길동35
국어:  11
영어:  27
수학:  62
==========
==========
이름:  홍길동36
국어:  81
영어:  54
수학:  49
==========
==========
이름:  홍길동37
국어:  19
영어:  40
수학:  96
==========
==========
이름:  홍길동38
국어:  93
영어:  73
수학:  9
==========
==========
이름:  홍길동39
국어:  13
영어:  22
수학:  66
==========
==========
이름:  홍길동40
국어:  1
영어:  10
수학:  80
==========
==========
이름:  홍길동41
국어:  16
영어:  91
수학:  32
==========
==========
이름:  홍길동42
국어:  24
영어:  6
수학:  53
==========
==========
이름:  홍길동43
국어:  71
영어:  50
수학:  27
==========
==========
이름:  홍길동44
국어:  58
영어:  40
수학:  95
==========
==========
이름:  홍길동45
국어:  7
영어:  65
수학:  64
==========
==========
이름:  홍길동46
국어:  0
영어:  20
수학:  5
==========
==========
이름:  홍길동47
국어:  14
영어:  26
수학:  77
==========
==========
이름:  홍길동48
국어:  91
영어:  20
수학:  39
==========
==========
이름:  홍길동49
국어:  82
영어:  98
수학:  75
==========
==========
이름:  홍길동50
국어:  95
영어:  92
수학:  47
==========
==========
이름:  홍길동51
국어:  97
영어:  18
수학:  99
==========
==========
이름:  홍길동52
국어:  33
영어:  80
수학:  10
==========
==========
이름:  홍길동53
국어:  61
영어:  37
수학:  39
==========
==========
이름:  홍길동54
국어:  44
영어:  11
수학:  98
==========
==========
이름:  홍길동55
국어:  75
영어:  55
수학:  57
==========
==========
이름:  홍길동56
국어:  13
영어:  72
수학:  38
==========
==========
이름:  홍길동57
국어:  78
영어:  57
수학:  35
==========
==========
이름:  홍길동58
국어:  41
영어:  13
수학:  10
==========
==========
이름:  홍길동59
국어:  31
영어:  69
수학:  78
==========
==========
이름:  홍길동60
국어:  10
영어:  93
수학:  60
==========
==========
이름:  홍길동61
국어:  21
영어:  74
수학:  8
==========
==========
이름:  홍길동62
국어:  91
영어:  98
수학:  18
==========
==========
이름:  홍길동63
국어:  86
영어:  46
수학:  11
==========
==========
이름:  홍길동64
국어:  7
영어:  45
수학:  45
==========
==========
이름:  홍길동65
국어:  89
영어:  91
수학:  16
==========
==========
이름:  홍길동66
국어:  9
영어:  18
수학:  88
==========
==========
이름:  홍길동67
국어:  94
영어:  0
수학:  88
==========
==========
이름:  홍길동68
국어:  87
영어:  30
수학:  41
==========
==========
이름:  홍길동69
국어:  91
영어:  68
수학:  49
==========
==========
이름:  홍길동70
국어:  16
영어:  21
수학:  22
==========
==========
이름:  홍길동71
국어:  28
영어:  84
수학:  6
==========
==========
이름:  홍길동72
국어:  25
영어:  87
수학:  19
==========
==========
이름:  홍길동73
국어:  34
영어:  50
수학:  93
==========
==========
이름:  홍길동74
국어:  16
영어:  99
수학:  43
==========
==========
이름:  홍길동75
국어:  67
영어:  27
수학:  73
==========
==========
이름:  홍길동76
국어:  22
영어:  1
수학:  66
==========
==========
이름:  홍길동77
국어:  17
영어:  87
수학:  47
==========
==========
이름:  홍길동78
국어:  6
영어:  13
수학:  99
==========
==========
이름:  홍길동79
국어:  22
영어:  63
수학:  21
==========
==========
이름:  홍길동80
국어:  68
영어:  31
수학:  65
==========
==========
이름:  홍길동81
국어:  62
영어:  36
수학:  81
==========
==========
이름:  홍길동82
국어:  90
영어:  98
수학:  83
==========
==========
이름:  홍길동83
국어:  82
영어:  8
수학:  69
==========
==========
이름:  홍길동84
국어:  17
영어:  77
수학:  35
==========
==========
이름:  홍길동85
국어:  57
영어:  17
수학:  31
==========
==========
이름:  홍길동86
국어:  35
영어:  63
수학:  41
==========
==========
이름:  홍길동87
국어:  73
영어:  49
수학:  99
==========
==========
이름:  홍길동88
국어:  4
영어:  67
수학:  48
==========
==========
이름:  홍길동89
국어:  63
영어:  69
수학:  56
==========
==========
이름:  홍길동90
국어:  75
영어:  47
수학:  76
==========
==========
이름:  홍길동91
국어:  92
영어:  1
수학:  12
==========
==========
이름:  홍길동92
국어:  13
영어:  35
수학:  63
==========
==========
이름:  홍길동93
국어:  33
영어:  24
수학:  82
==========
==========
이름:  홍길동94
국어:  83
영어:  64
수학:  79
==========
==========
이름:  홍길동95
국어:  6
영어:  79
수학:  31
==========
==========
이름:  홍길동96
국어:  74
영어:  46
수학:  9
==========
==========
이름:  홍길동97
국어:  63
영어:  63
수학:  39
==========
==========
이름:  홍길동98
국어:  63
영어:  63
수학:  60
==========
==========
이름:  홍길동99
국어:  36
영어:  83
수학:  8
==========

In [23]:
#파이썬에서sqlite3 사용
import sqlite3#sqlite3라이브러리
con = sqlite3.connect("examtable")  #DB연결, 패스까지 써줌 기본은 현 소스파일의 디렉토리 
cursor = con.cursor()    #데이터베이스 사용공간 만듦
cursor.close()#cursor 닫기
con.close()#con 닫기

In [32]:
#파이썬에서sqlite3 사용 실습
import sqlite3 as s
con=s.connect("my01.db")#my01.db와 연결
cursor = con.cursor()#con의cursor함수를 cursor로 저장
con.commit()#con 실행
#table 생성
cursor.execute("create table examtable(name varchar(20),studentid int not null primary key,kor int,eng int,mat int)")
con.commit()#버퍼에 처리된 내용을 기록 
cursor.close()#cursor 닫기
con.close()#con 닫기

In [36]:
import sqlite3 as s
con=s.connect("my01.db")#my01.db와 연결
cursor = con.cursor()#con의cursor함수를 cursor로 저장
cursor.execute("drop table examtable;")#table 삭제 
con.commit()#con 실행
#table 생성
cursor.execute("create table examtable(name varchar(20),studentid int not null primary key,kor int,eng int,mat int)")
con.commit()#버퍼에 처리된 내용을 기록 
cursor.close()#cursor 닫기
con.close()#con 닫기

In [37]:

#데이터 삽입(insert)
con=s.connect("my01.db")#my01.db와 연결
cursor = con.cursor()#con의cursor함수를 cursor로 저장
#테이블내 레코드 삽입
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);")  
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")
con.commit()#버퍼에 처리된 내용을 기록  
cursor.close()#cursor 닫기
con.close()#con 닫기

In [40]:
con=s.connect("my01.db") 
cursor = con.cursor()#con의cursor함수를 cursor로 저장
cursor.execute("select * from examtable")#테이블 내용 출력
one_rec=cursor.fetchall()  #해당 데이터를 전부 가져옴
for field in one_rec:  #해당 데이터를 반복문을 통해 하나씩 처리 
    kor=field[2]#국어 호출
    eng=field[3]#영어 호출
    mat=field[4]#수학 호출
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"%(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3))) 
cursor.close()#cursor 닫기
con.close()#con 닫기

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88